<div class="container">
    <div class="row mb-4">
        <div class="col-sm-3 text-center">
            <a class="btn btn-primary" [routerLink]="['/import']" routerLinkActive="router-link-active" >Import Data</a>
        </div>
        <div class="col-sm-3 text-center">
            <a class="btn btn-primary" [routerLink]="['/company']" routerLinkActive="router-link-active" >Manage Company</a>
        </div>
        <div class="col-sm-3 text-center">
            <a class="btn btn-primary" [routerLink]="['/stockexchange']" routerLinkActive="router-link-active" >Manage Exchange</a>
        </div>
        <div class="col-sm-3 text-center">
            <a class="btn btn-primary" [routerLink]="['/ipo']" routerLinkActive="router-link-active" >Update IPO details</a>
        </div>
    </div>
</div>

